@using System.Linq.Expressions
@attribute [CascadingTypeParameter(nameof(TDataTableItem))]
@typeparam TDataTableItem

<PageTitle>DataTable</PageTitle>


<MudBreakpointProvider>
    <div class="d-flex align-center mud-elevation-3 py-2 px-4 mb-4">
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudToggleIconButton Icon="@Icons.Material.Filled.PowerOff" ToggledIcon="@Icons.Material.Filled.Power" Toggled="@UseGrpc" ToggledChanged="OnUseGrpcChanged"></MudToggleIconButton>
        </MudHidden>
        <MudText Typo="@_headerTypo">@Title</MudText>
        <MudSpacer />
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <SearchBar SearchTerm="@SearchTerm" SearchTermChanged="OnSearchTermChanged" Title="@Title"></SearchBar>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
            <MudToggleIconButton Size="@_iconSize" ToggledSize="@_iconSize" Icon="@Icons.Material.Filled.PowerOff" ToggledIcon="@Icons.Material.Filled.Power" Toggled="@UseGrpc" ToggledChanged="OnUseGrpcChanged"></MudToggleIconButton>
        </MudHidden>
    </div>
    @if (IsLoading)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="mx-2" />
    }
    else
    {
        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Style="@("height: calc(100vh - 200px)")">
            <colgroup>
                <col width="100%" />
                <col width="0%" />
            </colgroup>
            <thead>
                <tr>
                    <th>@Row</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>                
                <Virtualize Items="Data" OverscanCount="25" Context="c">
                    <ItemContent>
                        <CascadingValue IsFixed="true" Value="c">
                            @ChildContent
                        </CascadingValue>
                    </ItemContent>
                    <Placeholder>
                        <MudSkeleton />
                    </Placeholder>
                </Virtualize>
            </tbody>
        </MudSimpleTable>
    }
</MudBreakpointProvider>
