@page "/"

<PageTitle>@_pageTitle</PageTitle>
<HeadContent>
    <meta name="description" content="@_description">
</HeadContent>

<div class="flex-container column">
    <MudField Label="Select Data Source" Variant="Variant.Outlined" InnerPadding="false">
        <MudRadioGroup T="string" SelectedOptionChanged="@OnSelectedOptionChanged">
            <MudRadio Color="Color.Primary" T="string" Option="@("Speakers")">Speakers</MudRadio>
            <MudRadio Color="Color.Primary" T="string" Option="@("Conferences")">Conferences</MudRadio>
            <MudRadio Color="Color.Primary" T="string" Option="@("Contributions")">Contributions</MudRadio>
        </MudRadioGroup>
    </MudField>
    <MudTextField T="string" AdornmentColor="Color.Primary" Label="Search Term" @bind-Value="_searchTerm" />   
    <MudButton OnClick="NavigateToDataSource">Suchen</MudButton>
</div>