@inherits LayoutComponentBase

<MudThemeProvider Theme="@_currentTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudSwipeArea>
    <MudLayout>
        <MudAppBar Elevation="1">            
            @if (NavigationManager != null && NavigationManager.Uri.Last() != '/')
            {
                <MudIconButton Icon="@Icons.Filled.ArrowBack" OnClick="@(() => NavigationManager?.NavigateTo("/"))" />
            }
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <MudText Typo="Typo.h5">Neues in .NET 6</MudText>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudText Typo="Typo.h6">Neues in .NET 6</MudText>
            </MudHidden>
            <MudSpacer/>
            <MudIconButton Icon="@_themeIcon" Color="Color.Inherit" Target="_blank" OnClick="@SwitchTheme"/>
        </MudAppBar>
        <MudMainContent Class="pt-16">
            <div class="content-container pa-8">
                @Body
            </div>
        </MudMainContent>
    </MudLayout>
</MudSwipeArea>